.btn{
	padding: 10px;
	border: none;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}

.btn--default{
	width: 180px;
	color: #fff;
	background-color: #FF3B3F;
	font-size: 0.6875rem;
}

.btn--green{
	background-color: #66C86C;
}