.site-header{
  margin: 0;
  padding-bottom: 10px;
}

.site-header header{
  background: #FF0000;;
  color:#fff;
  padding:20px 5%;
  overflow:auto;
}

.site-header header h1{
  margin: 0;
  font-size: 45px;
  float: left;
  align-items: center;
}


.site-header header .login-link{

  float: right;
}

.site-header header .search-form input[type="text"]{
  padding: 7px;
  float: left;
  margin-left: 10%;
  border: none;
  font-size: 15px;
  width: 600px;
  margin-top: 10px;
}

form.search-form button{
  height: 32px;
  width: 30px;
  background: #fff;
  border: none;
  margin-top: 10px;



}
