.label{
	display: block;
	text-align: left;
	font-weight: 700;
}

.label--default{
	font-size: 0.875rem;
}

.label--smaller{
	font-size: 0.8125rem;
}

.label--tiny{
	font-size: 0.6875rem;	
}

.label.label--centered{
	text-align: center;
	margin-bottom: 10px;
}

.label--book-title{
	max-width: 125px;
	margin-left: auto;
	margin-right: auto;
}

.label--attribute{
	display: inline-block;
	margin-right: 5px;
}

.label--v-centered{
	height: 30px;
	display: flex;
    align-items: center;
}

.label--float-l{
	float: left;
}
