.section__title{
	margin-top: 0px;
	font-family: 'Montserrat', sans-serif;
}

.section__title--smaller{
		font-size: 12px;
		float: left;
}


.section__title--bigger{
	font-size: 3rem;
	margin-bottom: 35px;
}

.section__title--default{
	font-size: 2rem;
}

.section__title--left{
	text-align: left;
}

.section__row{
	width: 100%;
	margin-bottom: 35px;
	display: block;
	overflow: hidden;
}

.section__row--s-margin{
	margin-top: 15px;
	margin-bottom: 15px;
}

.section__row--align-l{
	text-align: left;
}

.section__btn-link{
	display: block;
	width: 140px;
}

.section__col-4{
	float: center;
	width: 33.33%;
	display: inline-block;
}

.section__col-4--left{
	float:left;
}
.section__col-m-6{
	width: 100%;
	float: 	left;
}

.section__col-8{
	width: 66.67%;
	float: left;
	display: inline-block;
}

.section__col-12{
	width: 100%;
	display: inline-block;
}

.section__col--s-margin{
	margin-left: -50px;
    margin-right: -50px;
}

.section__col--padding-l{
	padding-left: 80px;
}

.section__col--centered-content{
	text-align: center;
}

.section__col--centered{
	margin-left: auto;
	margin-right: auto;
}

.section__book{
	float: left;
	width: 100%;
	padding-bottom: 40px;
}

.section__bookinfo{
	text-align: left;
	margin-left: 120px;
}

@media (min-width: 800px) {
	.section__col-m-6{
		width: 50%;
		float: 	left;
	}
}
