.rating{
	margin: 15px 0;
}

.rating--inline{
	padding: 5px;
	margin: 0 10px;
	float: left;
}

.rating__small > .stars__star{
	font-size: 1rem;
}

.rating > .stars__star {
	font-size: 1.25rem;
}

.stars__star{
	color: #D8D8D8;
}

.stars__star--bigger{
	font-size: 2rem;
}

.stars__star--checked{
	color: #FF3B3F;
}

.stars:hover span{
	color: #FF3B3F;
}

.stars span:hover ~ span, .stars + span:hover{
	color: #D8D8D8;
}
