.user__image{
	width: 90%;
}

.user__image-holder{
	width: 80px;
}

.user__name{
	display: inline-block;
	margin-left: 15px;
}

.user__name > p{
	margin-top: 28px;
}

.user__info{
	text-align: left;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 35px;
}

.user__row{
	width: 100%;
	margin-bottom: 10px;
	overflow: hidden;
}

.user__row > div{
	display: inline-block;
	height: 80px;
}

.user__delete{
	padding-top: 21px;
}
